<StackLayout class="homePage">
    <StackLayout class="buttonsTop" orientation="horizontal">

        <!-- ASK QUestion -->


        <AbsoluteLayout width="46%" height="110"  (tap)="askQuestion()" androidElevation="14" class="QuesCard topitem"> 
            <Label width="100%" height=100 class="font-weight-bold askLabel" text="Know More around you." textWrap="true" fontSize="20"></Label>
            <StackLayout width="100%" height=50 top="55" orientation="horizontal"> 
                <Label class="askLabel askNow" text="Ask now" textWrap="true" fontSize="15"></Label>
                <Image class="askIcon" src="~/app/images/request.png" (tap)="remQuery(ind)"></Image>
            </StackLayout>
            
        </AbsoluteLayout>


        <!-- Help button -->
        <AbsoluteLayout width="46%" height="110" *ngIf="!showQues" androidElevation="14" class="QuesCard topitem" (tap)="showQues=true;resetNotifCount()"> 
            <Label width="100%" height=100 class="font-weight-bold askLabel" textWrap="true" [text]="'Help People around you. ('+val+')'" fontSize="20"></Label>
            <StackLayout width="100%" height=50 top="55" orientation="horizontal"> 
                <Label class="askLabel askNow msgCount" [text]="newNotif>0?newNotif+' new.':''" textWrap="true" fontSize="15"></Label>
                <Image class="askIcon" src="~/app/images/messages.png" (tap)="remQuery(ind)"></Image>
            </StackLayout>
        </AbsoluteLayout>


        <!-- feed button -->
        <AbsoluteLayout width="46%" height="110" *ngIf="showQues" androidElevation="14" class="QuesCard topitem" (tap)="showQues=false;resetNotifCount();fetchLatestAds()"> 
            <Label  width="100%" height=100 class="font-weight-bold askLabel" text="What's happening nearby." textWrap="true" fontSize="20"></Label>
            <StackLayout width="100%" height=50 top="55" orientation="horizontal"> 
                <Label class="askLabel askNow" text="Explore." textWrap="true" fontSize="15"></Label>
                <Image class="askIcon" src="~/app/images/live.png" (tap)="remQuery(ind)"></Image>
            </StackLayout>
        </AbsoluteLayout>


    </StackLayout>

    <!-- hEADER -->
    <StackLayout class="headerBar" (tap)="changeArr()"> 
        <Label  [text]="showQues?'Help People Around You':'What\'s New Nearby'"  fontSize="16"></Label>
    </StackLayout>


    <!-- questionsPage -->
    <ScrollView *ngIf="showQues" class="FeedTop">
        <StackLayout>
            <StackLayout orientation="horizontal" class="QuesCard" (tap)="changeArr()" *ngFor="let item of this.pendingQuestions;let ind = index"> 
                <StackLayout (tap)="answerQuestion(ind)" class="questionText">
                    <Label class="quesLabel" textWrap="true" text="{{item.question}} ?"  fontSize="18"></Label>
                    <Label class="quesBy" text="by {{item.by}}"  fontSize="13"></Label>
                </StackLayout>
                <Image class="deleteIcon" src="~/app/images/remove.png" (tap)="remQuery(ind)"></Image> 
            </StackLayout>
        </StackLayout>
    </ScrollView>


    <!-- feed/Ad page -->
    <ScrollView *ngIf="!showQues" class="FeedTop">
        <StackLayout>
            <StackLayout orientation="horizontal" class="AdCard" (tap)="changeArr()" *ngFor="let item of this.userAds">
                <Image class="imageAd" stretch="aspectFill" src="{{item.imgUrl}}"></Image>
                <StackLayout class="adText">
                    <Label  text="{{item.title}}"  fontSize="18"></Label>
                    <Label  text="{{item.content}}" textWrap="true"  fontSize="13"></Label>
                </StackLayout> 
                
            </StackLayout>
        </StackLayout>
    </ScrollView>

</StackLayout>
