<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Ask"></Label>
</ActionBar>

<StackLayout class="page">
    <TextView hint="Enter your Query..." 
          text="tvtext">
    </TextView>
    <StackLayout orientation="horizontal" class="accOptions">
        <Label [text]=" 'Current Location is : Latitude- '+latitude"></Label>
        <Label [text]="'Longitude- '+longitude"></Label>
    </StackLayout>
    <Button text="Ask Question" [nsRouterLink]="['/answer']" class="btn btn-primary btn-active" col="1"></Button>
</StackLayout>