<ActionBar title="  Ask a Question"  android.icon="~/app/images/back.png" android.iconVisibility="always" (tap)="goBack()">
</ActionBar>


<StackLayout class="QuestionPage">

    <!-- QuestionBox -->
    <TextView
        class="questionBox" 
        hint="Enter your Query..." 
        [(ngModel)]="question"
        fontSize="15"
        maxLength="100">
    </TextView>

    <!-- Char count -->
    <Label class="charCount" [text]="question.length+'/100'"></Label>

    <!-- Location -->
    <StackLayout orientation="horizontal" class="location">
        <Label class="fas" marginLeft="10" fontSize="15" text="&#xf3c5;"></Label>
        <Label marginLeft="10" fontSize="15" [text]="locationName"></Label>
        <!-- <Label fontSize="15" [text]="'Longitude- '+longitude"></Label> -->
    </StackLayout>

    <Button text="Ask Question" (tap)="askQuestion()" class="btn btn-primary btn-active askButton" col="1"></Button>

    <Label class="suggText" text="Suggestions" fontSize="15"></Label>

    <!-- Suggestion Questions -->
    <ScrollView class="FeedTop">
        <StackLayout>
            <StackLayout orientation="horizontal" class="suggestCard" (tap)="question = item" *ngFor="let item of this.suggestionQuestions">
                    <Label textWrap="true" text="{{item}}"  fontSize="18"></Label>
                
            </StackLayout>
        </StackLayout>
    </ScrollView>

</StackLayout>