<!-- <ActionBar [title]="'Welcome, '+loggedInUser" class="action-bar">
</ActionBar>

<StackLayout class="page">
    <Button text="Logout" (tap)="logOut()" class="btn btn-primary btn-active" col="1"></Button>
    <Button text="Ask a question" (tap)="askQuestion()" class="btn btn-primary btn-active" col="1"></Button>

    <HomePage></HomePage>
    <Messages></Messages>
    <Profile></Profile>

</StackLayout> -->
<ActionBar [title]="' Welcome to CityLive'" android.icon="~/app/images/town.png" android.iconVisibility="always" class="action-bar">
</ActionBar>

<StackLayout *ngIf="showLoader" class="LoadingPage">
    <Label class="liveText" fontSize="30" text="Going Live"></Label>
    <StackLayout orientation="horizontal" class="loader">
        
        <Label class="cv-lbl cv-lbl1"></Label>
        <Label class="cv-lbl cv-lbl2"></Label>
        <Label class="cv-lbl cv-lbl3"></Label>
        <Label class="cv-lbl cv-lbl4"></Label>
        <Label class="cv-lbl cv-lbl5"></Label>   
            
        
    </StackLayout>
    <Label *ngIf="showFinishing" class="gettingReady" fontSize="20" text="Getting your Profile ready..."></Label>
    
</StackLayout>

<BottomNavigation *ngIf="!showLoader" (selectedIndexChanged)="onPageChange($event)" selectedIndex="0">

    <TabStrip >
        <TabStripItem>
            <Label [ngClass]="{'font-weight-bold': quesCount>0}" text="Home {{quesCount>0?'('+quesCount+')':''}}"></Label>
            <Image src="~/app/images/home.png"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label [ngClass]="{'font-weight-bold': msgCount>0}" text="Messages {{msgCount>0?'('+msgCount+')':''}}"></Label>
            <Image src="~/app/images/chat.png"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label [text]="loggedInUser"></Label>
            <Image src="~/app/images/usern.png"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <GridLayout>
            <HomePage></HomePage>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Messages></Messages>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Profile></Profile>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>