<ActionBar title="  Answer Question" android.icon="~/app/images/back.png" android.iconVisibility="always" (tap)="goBack()">
</ActionBar>

<StackLayout class="AnswerPage">

    

    <StackLayout height="350" class="midPartAns">
        <Label class="ques" [text]="question+' ?'" textWrap="true" fontSize="17"></Label>
        <Label class="quesby" [text]="'by '+quesBy"></Label>
        <!-- QuestionBox -->
        <TextView
            class="ansBox" 
            hint="Enter your Answer..." 
            [(ngModel)]="answer"
            fontSize="15"
            maxLength="100">
        </TextView>

        <!-- Char count -->
        <Label class="charCount" [text]="answer.length+'/100'"></Label>

        <Button text="Answer Question" (tap)="AnswerQuestion()" class="btn btn-primary btn-active ansButton" col="1"></Button>
        <Button text="{{answer.length>0?'Answer in Chat':'Join Chat'}}" (tap)="toChat()" class="btn btn-primary btn-active ansButton" col="1"></Button>
    </StackLayout>

    <StackLayout height="160" class="image">
        <!-- <Label class="app-title" text="CityLive"></Label>
        <Label class="app-title-small" text="est. 2020"></Label> -->
        <Image row="0" col="0" src="~/app/images/newLogo.png" class="thumb"></Image>
      
    </StackLayout>
    
</StackLayout>