.topMsg{
    height: 100%;
    background-image: url('~/app/images/citylineBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.headMsg{
    height: 40;
    width: 96%;
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    margin: 7;
    color: #34fdce;
    background-color: hsla(166, 100%, 6%, 0.80);
    border-radius: 5;
}

.expandColl{
    margin-top: 2;
    padding-right: 2;
    width: 50%;
    text-align: right;
}

.messageTop{
    height: 40%;
    margin-top: 0;
}

.expandedMsg.messageTop{
    height: 84%;
    margin-top: 0;
}

.delActionBar{
    text-align: left;
}

.MessageCard{
    height: 70;
    margin: 8vh;
    padding: 10;
    margin-top: 0;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.1);
	color:white;
}

.own.MessageCard{
    height: 55;
}

.noMessgTxt{
    text-align: center;
    height: 25;
    width: 25;
    margin-top: 13;
    border-radius: 20;
    background-color: #34fdce;
    color: black;
}

.own.noMessgTxt{
    margin-top: 3;
}

.noMessgTxt.fas{
    padding-top: 5;
}

.ownQuestion{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white;
    border-width: 1;
}

.questionText{
    width: 85%;
}

.noMessg{
    width: 15%;
    text-align: center;
}

.selected{
    border-color: white;
    border-width: 1;
}
