
<ActionBar *ngIf="selectedInd.size>0" title="Delete {{selectedInd.size}} Item(s)">
    <!-- <ActionItem (tap)="onDelete()"
        ios.systemIcon="16" ios.position="right" android.systemIcon="ic_menu_delete"
        text="Delete" android.position="actionBar"></ActionItem>
        <ActionItem (tap)="onCancel()"
        ios.systemIcon="16" ios.position="right" android.systemIcon="ic_menu_close_clear_cancel"
        text="Cancel" android.position="actionBar"></ActionItem> -->
        <GridLayout rows="auto" columns="*, 50, 50" class="action-bar-title">
            <Label row="0" col="0" class="font-weight-bold delActionBar" text="Delete {{selectedInd.size}} Item(s)" fontSize="19"></Label>
            <Image row="0" col="1"  src="~/app/images/rubbish.png" margin="7" (tap)="onDelete()" class="thumb"></Image>
            <Image row="0" col="2" src="~/app/images/close.png" margin="7" (tap)="onCancel()" class="thumb"></Image>
          </GridLayout>
  </ActionBar>


  <ActionBar *ngIf="selectedInd.size==0" [title]="' Welcome to CityLive'" android.icon="~/app/images/town.png" android.iconVisibility="always" class="action-bar">
  </ActionBar>

<StackLayout class="topMsg">

    <!-- Questions Header -->
    <StackLayout class="headMsg" orientation="horizontal">
        <Label width="50%" text="Your Questions" fontSize="18"></Label>
        <Label class="expandColl fas" (tap)="quesExpanded=!quesExpanded"  text="{{!quesExpanded?'&#xf055;':'&#xf056;'}}" fontSize="20"></Label>
    </StackLayout>
    
    <!-- Questions Messages -->
    <ScrollView 
        [ngClass]="{'expandedMsg': !discExpanded && quesExpanded}"
        [visibility]="!quesExpanded ? 'collapse' : 'visible'"
        class="messageTop">
        <StackLayout>
            <StackLayout [ngClass]="{'selected font-weight-bold': selectedInd.has(item.key)}"
             (tap)="routeToChat(item.key)" 
            (longPress)="functionWhenLongPress(item.key)" 
            [visibility]="item.value.by !== loggedInUser ? 'collapse' : 'visible'" orientation="horizontal"  
            class="MessageCard own" *ngFor="let item of topicsMap | keyvalue"> 
    
                <StackLayout class="questionText">
                    <Label  text="{{item.value.question}}" fontSize="16"></Label>
                </StackLayout>
                <StackLayout class="noMessg">
                    <Label *ngIf="item.value.count>0 && !selectedInd.has(ind)" class="font-weight-bold own noMessgTxt"  text="{{item.value.count}}" fontSize="15"></Label>
                    <Label *ngIf="selectedInd.has(item.key)" class="own noMessgTxt fas" text="&#xf00c;" fontSize="16"></Label>
                </StackLayout>
                
            </StackLayout>
            
        </StackLayout>
    </ScrollView>

    <!-- Discussions header -->
    <StackLayout class="headMsg" orientation="horizontal">
        <Label width="50%" text="Your Discussions" fontSize="18"></Label>
        <Label class="expandColl fas" (tap)="discExpanded=!discExpanded"  text="{{!discExpanded?'&#xf055;':'&#xf056;'}}" fontSize="20"></Label>
    </StackLayout>
    
    <!-- Discussions Messages -->
    <ScrollView 
        [ngClass]="{'expandedMsg': discExpanded && !quesExpanded}"
        [visibility]="!discExpanded? 'collapse' : 'visible'"
        class="messageTop">
        <StackLayout>
            <StackLayout [ngClass]="{'selected font-weight-bold': selectedInd.has(item.key)}"
            (tap)="routeToChat(item.key)" 
            (longPress)="functionWhenLongPress(item.key)"
             [visibility]="item.value.by === loggedInUser ? 'collapse' : 'visible'" 
             orientation="horizontal" class="MessageCard" *ngFor="let item of topicsMap | keyvalue"> 
    
                <StackLayout class="questionText">
                    <Label  text="{{item.value.question}}" fontSize="16"></Label>
                    <Label  text="by {{item.value.by}}" fontSize="12"></Label>
                </StackLayout>
                <StackLayout class="noMessg">
                    <Label *ngIf="item.value.count>0  && !selectedInd.has(item.key)" class="font-weight-bold noMessgTxt"  text="{{item.value.count}}" fontSize="15"></Label>
                    <Label *ngIf="selectedInd.has(item.key)" class="noMessgTxt fas"  text="&#xf00c;" fontSize="16"></Label>
                </StackLayout>
                
            </StackLayout>
            
        </StackLayout>
    </ScrollView>
</StackLayout>
