<!-- loader -->

<StackLayout class="profileTop" *ngIf="loggingOut" row="0" column="0" rowSpan="2" colSpan="2" >
    <ActivityIndicator busy="true" color="#34fdce" marginTop="200" width="100" height="100"></ActivityIndicator>
    <Label class="logginOutMsg" text="Logging Out..." textWrap="true"  fontSize="20"></Label>
</StackLayout>


<!-- Main page -->
<StackLayout *ngIf="!loggingOut" class="profileTop">
    
    

    

    <StackLayout [marginTop]="marginTop" [height]="labelHgt" orientation="horizontal" class="profRowCard" > 
        <Image class="profIcon" [height]="labelHgt-20"  src="~/app/images/usern.png"></Image>
        <Label class="profLabel" [height]="labelHgt-20" paddingTop="20" textWrap="true" text="{{user.userName}}"  fontSize="17"></Label>
 
         
    </StackLayout>

    <StackLayout [height]="labelHgt" orientation="horizontal" class="profRowCard"> 
        <Image class="profIcon" [height]="labelHgt-20" src="~/app/images/mail.png"></Image>
        <Label class="profLabel" [height]="labelHgt-20" paddingTop="20" textWrap="true" text="{{user.email}}"  fontSize="17"></Label>
 
    </StackLayout>

    <StackLayout [height]="labelHgt" orientation="horizontal" class="profRowCard"> 
        <Image class="profIcon" [height]="labelHgt-20" src="~/app/images/pinn.png"></Image>
        <Label class="profLabel location" [height]="labelHgt-20" paddingTop="20" textWrap="true" text="{{locationName}}"  fontSize="16"></Label>
  
    </StackLayout>

    <!-- <ScrollView [height]="labelHgt" class="profRowCard">
        <StackLayout orientation="horizontal" > 
            <Image class="profIcon" [height]="labelHgt-20" src="~/app/images/device.png"></Image>
            <StackLayout [height]="labelHgt" class="profLabel device" > 
                <TextField [editable]="devIdEditable" (tap)="devIdEditable=true;" width=100% textWrap="true" text="{{deviceId}} "  fontSize="16"></TextField>
                <Label (tap)="devIdEditable=!devIdEditable;" textWrap="true" [text]="!devIdEditable?'Tap to edit':'Done Editing'"  fontSize="12"></Label>
          
            </StackLayout>
        </StackLayout>
    </ScrollView> -->
    



    <Button height="50" text="Logout" (tap)="logOut()" class="btn btn-primary btn-active btnLogout" col="1"></Button>
    <Button height="50" text="Change Live Status" (tap)="changeLiveStatus()" class="btn btn-primary btn-active btnLogout" col="1"></Button>

    <StackLayout height="50" class="accOptions">
        <Label style="text-align: center;" text="Have some Problem?" fontSize="14"></Label>
        <Label style="text-align: center;" class="font-weight-bold" text="Contact Us" (tap)="openMail()" fontSize="16"></Label>
    </StackLayout>
    

</StackLayout>