<!-- loader -->

<StackLayout class="profileTop" *ngIf="loggingOut" row="0" column="0" rowSpan="2" colSpan="2" >
    <ActivityIndicator busy="true" color="#34fdce" marginTop="200" width="100" height="100"></ActivityIndicator>
    <Label class="logginOutMsg" text="Logging Out..." textWrap="true"  fontSize="20"></Label>
</StackLayout>

<StackLayout *ngIf="!loggingOut" class="profileTop">
    
    

    <!-- Main page -->

    <StackLayout orientation="horizontal" class="profRowCard" > 
        <Image class="profIcon" src="~/app/images/usern.png"></Image>
        <Label class="profLabel" textWrap="true" text="{{user.username}}"  fontSize="18"></Label>
 
         
    </StackLayout>

    <StackLayout orientation="horizontal" class="profRowCard"> 
        <Image class="profIcon" src="~/app/images/mail.png"></Image>
        <Label class="profLabel" textWrap="true" text="{{user.email}}"  fontSize="18"></Label>
 
    </StackLayout>

    <StackLayout orientation="horizontal" class="profRowCard"> 
        <Image class="profIcon" src="~/app/images/pinn.png"></Image>
        <Label class="profLabel" textWrap="true" text="{{user.currentLocation}}"  fontSize="18"></Label>
  
    </StackLayout>

    <ScrollView class="profRowCard">
        <StackLayout orientation="horizontal" > 
            <Image class="profIcon" src="~/app/images/device.png"></Image>
            <StackLayout class="profLabel device" > 
                <TextField [editable]="devIdEditable" (tap)="devIdEditable=true;" width=100% textWrap="true" text="{{deviceId}} "  fontSize="18"></TextField>
                <Label *ngIf="!devIdEditable" (tap)="devIdEditable=true;" textWrap="true" text="Tap to edit"  fontSize="12"></Label>
          
            </StackLayout>
        </StackLayout>
    </ScrollView>
    



    <Button text="Logout" (tap)="logOut()" class="btn btn-primary btn-active btnLogout" col="1"></Button>
    <Button text="Change Live Status" (tap)="changeLiveStatus()" class="btn btn-primary btn-active btnLogout" col="1"></Button>

</StackLayout>