.profileTop{
    height: 100%;
    padding-top: 10%;
    background-image: url('~/app/images/citylineBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.profRowCard{
    height: 100;
    width: 90%;
    vertical-align: middle;
}

.profIcon{
    height: 45;
    width: 20%;
    margin-right: 5%;
}

.profLabel{
    height: 30;
    width: 75%;
}

.profLabel.device{
    height: 70;
}

.profLabel.location{
    margin-top: 20;
    height: 70;
}

.profLabel.device TextField{
    border-width: 0;
}
.btnLogout{
    margin-bottom: 5%;
    width: 60%;
    border-color: white;
    border-width: 1;
    border-radius: 30;
}

.logginOutMsg{
    text-align: center;
}

.accOptions{
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 15vh;
    /* font-family: 'Suez One', serif; */
}