.ChatPage{
    background-image: url('~/app/images/citylineBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.selfMsg{
    margin-left: 15%;
    /* background-color: rgba(34, 96, 138, 0.9); */
    background-color: #34fdce;
    color: rgba(0, 46, 35, 0.9) ;
    /* border-color: #34fdce;
    border-width: 1; */
}

.quesMsgPart{
    padding-bottom: 10;
    border-bottom-width: 0;
}

.quesLabel{
    width: 94%;
    margin-bottom: 6;
    color: #34fdce;
}

.msgBox{
    width: 100%;
    height: 65;
    /* padding-left: 170%; */
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.616);
    border-width: 1;
    border-color: white;
    border-radius: 35;
}

.hintTextMsg{
    margin-left: 7%;
    margin-top: 15;
    width: 77%;
    color: rgba(182, 182, 182, 0.87);
}

.msgText{
    width: 100%;
    
}
.inputBox{
    margin-left: 2%;
    margin-right: 2%;
    width: 80%;
    padding: 0;
    padding-left: 20;
    padding-top: 20;
    
    margin: 0;
            background-color: rgba(0, 0, 0, 0);
    /* background-color: blueviolet; */
    vertical-align: bottom;
    border-width: 0;
}

.sendIcon{
    height: 30;
    width: 30;

}

.closeIcon{
    height: 30;
    width: 30;
}

.msgButtons{
    
    width: 12%;
}
.quest{
    width: 95%;
    margin: 7;
}

.othMsg{
    margin-right: 15%;
    color: #6dffdd;
    background-color: rgba(0, 46, 35, 0.9) ;
    border-color: #34fdce;
    border-width: 0.3;
}

.msgCard{
    margin-bottom: 6;
    width: 80%;
    border-radius: 5;
    padding: 8;
    padding-top: 0;
    padding-bottom: 1;
}

.dateVal{
    width: 30%;
    /* margin-left: 20%; */
    background-color: blanchedalmond;
    border-radius: 5;
    color: black;
    text-align: center;
    margin-bottom: 6;
    
}

.textColor1{
    color: rgb(255, 131, 43);
}

.textColor2{
    color: rgb(255, 27, 122);
}

.textColor3{
    color: rgb(244, 255, 95);
}

.textColor4{
    color: rgb(139, 86, 255);
}

.msgBy{
    text-transform: capitalize;
}

.rightAlign{
    text-align: right;
}

.no-show{
    display: none;
}

.pressBackText{
    margin-top: 100;
    text-align: center;
}

.expandIcon{
    margin-top: 15;
    height: 60;
}

.goDown{
    height: 20;
    width: 20;
    text-align: center;
     /* padding-top: 5; */
    /* padding-left: 5; */
    padding-right: 2;
    color: rgb(53, 53, 53);
    background-color: #fdf4e8;
    border-radius: 10;
}


/* .goDown.noNewMsg{
    width: 32;
    height: 32;
    padding-top: 3;
    padding-left: 6;
} */

.num{
    text-align: center;
}

.loadingMsg{
    text-align: center;
}