.page {
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-image: url('~/app/images/citybgsmall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 15%;
  }
  .image{
      padding-top: 20%;
      height: 20%;
  }

  .app-title{
    font-family: 'SuezOne-Regular';
    color: rgb(5, 158, 120);
    font-size: 60vh;
  }

  .app-title-small{
    font-family: 'SuezOne-Regular';
    color: wheat;
    font-size: 30vh;
    text-align: center;
  }

  .form {
    height: 60%;
    /* vertical-align: middle; */
  }

  .input-field{
      width: 90%;
      padding-left: 10px;
      font-size: 30%;
  }

  .accOptions{
      display: flex;
      color: #ffffff;
      font-size: 15vh;
      /* font-family: 'Suez One', serif; */
  }

  .login-button{
      width: 50%;
      border-radius: 50%;
      font-size: 15vh;
      background-color: #555555;
  }