<FlexboxLayout class="page">

    <StackLayout height="30%" class="image">
        <Label class="app-title" text="CityLive"></Label>
        <Label class="app-title-small" text="CityLive" text="est. 2020"></Label>
    </StackLayout>
    
    <StackLayout class="form">
        <StackLayout class="input-field">
            <TextField
            style.fontSize="15vh"
            style.height="35vh"
            style.color="white" 
            style.placeholderColor="#ccccccee"
             [(ngModel)]="email" 
             class="input" 
             [hint]="isLogin?'Email/UserName':'Email'" 
             keyboardType="email" 
             autocorrect="false" 
             autocapitalizationType="none"></TextField
                >
        </StackLayout>

        
        <StackLayout class="input-field">
            <TextField 
            style.fontSize="15vh"
            style.height="35vh"
            style.color="white" 
            style.placeholderColor="#ccccccee" 
            [(ngModel)]='usernm' 
            *ngIf="!isLogin" 
            class="input" 
            hint="UserName" 
            autocorrect="false" 
            autocapitalizationType="none"></TextField>
        </StackLayout>
        
        <StackLayout class="input-field">
            <TextField
            style.fontSize="15vh"
            style.height="35vh"
            style.color="white" 
            style.placeholderColor="#ccccccee" 
            [(ngModel)]="pwd" 
            secure="true" 
            class="input" 
            hint="Password" 
            autocorrect="false" 
            autocapitalizationType="none"></TextField
            >
        </StackLayout>

        <StackLayout class="input-field">
            <TextField 
            style.fontSize="15vh"
            style.height="35vh"
            style.color="white" 
            style.placeholderColor="#ccccccee"
            [(ngModel)]='cnfpwd' 
            secure="true" 
            *ngIf="!isLogin" 
            class="input" 
            hint="Confirm Password" 
            autocorrect="false" 
            autocapitalizationType="none"></TextField>
        </StackLayout>


        <!-- <StackLayout class="input-field">
            <TextField [(ngModel)]='otp' *ngIf="!isLogin" class="input" hint="OTP" keyboardType="number" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout> -->

    
        <Button [text]="!isLogin?'Sign Up':'Login'" class="btn btn-primary login-button" (tap)="onLoginRegister()"></Button>
    </StackLayout>

    <StackLayout orientation="horizontal" class="accOptions">
        <Label [text]="isLogin?'Don’t have an account?':'Already have an account?'"></Label>
        <Label class="font-weight-bold" fontAttributes="Bold" [text]="isLogin?' Sign Up':' Login'" (tap)="loginRegToogle()"></Label>
    </StackLayout>
    

</FlexboxLayout>